{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
    {#<style>#}
    {#    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }#}
    {#    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }#}
    {#</style>#}

    <div class="container">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th><strong>#</strong></th>
                    <th><strong>Libellé</strong></th>
                </tr>

                </thead>
                <tbody>
                {% for animal in animaux %}

                    <tr>
                        <td>{{ animal.id }}</td>
                        <td>{{ animal.name }}</td>
                        <td class="d-flex"><a class="btn btn-primary" href="{{ path('animauxEdit', {id:animal.id}) }}">Modifier</a>
                            <a class="btn btn-danger" href="{{ path('animauxDelete', {id:animal.id}) }}">Supprimer</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        <a class="btn btn-primary" href="{{ path('animauxNew') }}">Créer une nouvelle catégorie</a>


        <a class="btn btn-warning" href="{{ path('admin') }}">Retour</a>

    </div>
{% endblock %}


